<!--
The launch file for a single maxbot
-->

<launch>
    <master auto="start"/>
    <arg name="bot_id" default="0"/>
    <!-- The wifi handler -->
    <node pkg="arc_core" type="wifi_handler_node" name="wifi_handler">
        <param name="max_signal_range" value="5"/>
    </node>

    <!-- The communication manager -->
    <node pkg="arc_core" type="communication_manager" name="communication_manager" output="screen"></node>

    <!-- The victim tracker -->   
<!--    <node pkg="arc_core" type="victim_tracker" name="victim_tracker" output="screen">
    </node>
-->
    <!-- The knowledge manager -->
    <node pkg="arc_core" type="knowledge_manager" name="knowledge_manager" output="screen">
        <param name="locomotion" value="1"/>
        <param name="width" value="0.38"/>
        <param name="length" value="0.44"/>
        <param name="expendability" value="0.05"/>
        <param name="debris_remover" value="false"/>
        <param name="marker_count" value="2"/>
        <param name="victim_tracker" value="true"/>
        <param name="frontier_finder" value="true"/>
        <param name="maintain_team_map" value="true"/>
        <param name="assign_tasks" value="true"/>
        <param name="planner" value="true"/>
        <param name="victim_sensor" value="0"/>
        <param name="robot_sensor" value="true"/>
        <param name="sonar_sensors" value="3"/>
        <param name="sonar_range" value="2.0"/>
        <param name="laser_rangefinder" value="true"/>
        <param name="victim_marker_detector" value="true"/>
        <param name="robot_id" value="$(arg bot_id)"/>
    </node>

    <!-- tasks this robot can perform -->
    <node pkg="arc_tasks" type="task_unguided_clean_debris_server" name="task_unguided_clean_debris_server" output="screen"/>
    <node pkg="arc_tasks" type="task_guided_clean_debris_server" name="task_guided_clean_debris_server" output="screen"/>
    <node pkg="arc_tasks" type="task_explore_server" name="task_explore_server" output="screen"/>

    <!-- the task handler that will manage task requests. -->
    <node pkg="arc_core" type="task_handler" name="task_handler">
    <rosparam param="valid_tasks">["explore", "unguided_clean_debris", "guided_clean_debris"]</rosparam>
    </node>

    <!-- THE CORE RECRUITMENT MANAGER OF ROBOT -->
    <node pkg="arc_recruitment_demos" type="minimal_recruitment_manager" name="recruitment_manager" output="screen">
    </node>
</launch>
